
   
.card {
    background-color: rgb(0,0,0);
    // border: 1px solid blue;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;

    .card-title {
      font-size: 1.5rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      border-bottom: 3px solid $blue;
      padding-bottom: .5em;
      margin-bottom: 1em;
    }
  }
  