#footer {

    background-color: $black;

    .dex-logotype {
        height:30px;
        margin-bottom: 5px;
      }

      .dex-logotype-cntr {
        justify-content: center;
        text-align: center;
      }
    
    }