#footer {
  position:fixed;
  bottom: 0;
  width:100%;
  background-color: $black;
  z-index: 99;
  opacity: 0.9;
  

    .dex-logotype {
        height:30px;
        margin-bottom: 5px;
      }

      .dex-logotype-cntr {
        justify-content: center;
        text-align: center;
      }
    
    }
