#header {

  background-color: $black; 
  padding: 20px 40px 0 40px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  opacity: 0.8;
  z-index:99;
  
  
    .header-title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      text-align: center;
      margin-bottom: 0;
      font-size: 1rem;
      line-height: 38px;
    }

    .dropdown-title {
      padding-right: 20px;
    }    

    .dex-logotype {
      height:55px;
      margin-bottom: 5px;
    }

    .dex-logotype-cntr {
      justify-content: center;
      text-align: center;
    }

    .dex-logotype-cntr p{
      font-size: 0.8rem;
    }

    .contract-address {
      color: $dimWhite; 
      font-size: 0.8rem; 
      .contract-address .address {
        font-family: 'Courier';
      }
    }
  }
  