.order-list {
    &.order-list-buy {
      .order-list-title {
        background-color: $lightPurple!important;
      }
    }
    &.order-list-sell {
      .order-list-title {
        background-color: $darkPurple !important;
      }
    }
    color: $white;
  }