.order-list {
    &.order-list-buy {
      .order-list-title {
        background-color: $lightOrange !important;
      }
    }
    &.order-list-sell {
      .order-list-title {
        background-color: $darkOrange !important;
      }
    }
    color: $white;
  }