#dash {
    display:flex;
    height: auto;
    padding: 40px;
    height: 100%;
    align-items: center;
    justify-content: center;
    
    .card-content {
     display: flex;
     height: 100%;

    }

    .text-content {
    
    }

    hr.style1{
        border-top: 2px solid $lightBlue;
    }
    
    .logo-scale {
        // background-color:red;
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
        
    }

    .dex-logotype-cntr {
        
      }

}