$black: rgb(0, 0, 0);
$dimBlack: rgb(20, 20, 20);
$lightBlack: rgb(40, 40, 40);

$white: rgb(255, 255, 255);
$dimWhite: rgb(200, 200, 200);
$lightWhite: rgb(240, 240, 240);

$red: rgb(60, 147, 59);
$green: rgb(204, 36, 36);

$purple: rgb(68, 19, 130);
$lightPurple: rgb(116, 28, 215); 
$darkPurple: rgb(41, 1, 71);
$blue: rgb(2, 62, 138);
$lightBlue: rgb(0, 119, 182);
$darkBlue: rgb(3, 4, 94);

$navyBlue: rgb(3, 4, 94);
$darkCerulean: rgb(2, 62, 138);

$grey50: rgb(55, 55, 80);
$lightOrange: rgb(255, 183, 0);
$darkOrange: rgb(255, 136, 0);