.table {
    border: 1px solid $black;
    font-size: $fontSmall;
    .table-title {
      padding: 1em 0.5em;
      text-transform: uppercase;
    }
    thead {
      tr {
        background-color: $black !important;
      }
      th {
        border: none;
        
      }
    }
    td {
       border-top: none;
      
       padding: 1em;
       // padding: 0.25em 0.5em;
    }
    &.table-striped {
      tr:nth-of-type(odd) {
        background-color: $white;
      }
    }
  }
  
  .btn-group {
    width: 100%;
    display: flex;
    // padding-top: 1em;
    padding-bottom: 1em;
    .btn {
      flex: 1;
      border: 2px solid $purple !important;
      background-color: $purple;
      padding-top: 1em;
      padding-bottom: 1em;
      &.active {
        background-color: $lightPurple !important;
      }
      &:focus {
        box-shadow: none !important;
      }
    }
  }
  
  .btn-primary {
    color: $white;
    width: 100%;
    background-color: $lightPurple;
    border-color: $lightPurple;
    padding: 1em;
    
    &:hover {
      background-color: $purple;
      border-color: $lightPurple;
    }
  }
  
  .form-control {
    
    background-color: rgb(40,40,40);
    color: white;
    border: none;
    padding: 1em;
    // padding-bottom: 1em;
    margin-bottom: 1em;
    &:focus {
      background-color: rgb(40,40,40);
      color: white;
      border: none;
    }
    &:disabled {
      background-color: rgb(20,20,20);
      color: white;
      border: none;
    }
  }
  
  .input-group-append {
    
    .input-group-text {
      background-color: $dimBlack;
      border: none;
      padding: 1em;
      color: white;
    }
  }